<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Inicio</title>
</head>
<body>
    <div class="flex-menu">
        <sidebar>
            <div class="sidebar-title">
                <img src="../imagens/donafit.png" alt="">
                <h2>Dona Fitness</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="index.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-user"></i>
                        <a href="index.html"> Perfil</a>
                    </li>
                    <li>
                        <i class="fas fa-book-open"></i>
                        <a href="index.html"> Pedidos</a>
                    </li>
                    <li>
                        <i class="fas fa-user-friends"></i>
                        <a href="index.html"> Clientes</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a href="0"><i class="fas fa-home"></i> Dashboard</a>
                <a id="Logout"href="registermenu.html">
                    <i class="fas fa-clipboard-list"></i> Cadastrar</a>
            </header>    
            <div class="main-content">
                <div class="panel">
                    <p><img src="../imagens/cardapio.jpg" alt="">
                        Cardápio Dona Fitness
                    </p>
                </div>
                <div class="panel">
                    <p><img src="../imagens/patinho,legumes.jpg" alt="">
                        <h2>Patinho + Legumes</h2>
                    </p>
                </div>
                <div class="panel">
                    <p><img src="../imagens/escondidinho.jpg" alt="">
                        <h2>Escondidinho</h2>
                    </p>
                </div>
                <div class="panel">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                        industry. Lorem Ipsum has been the industry's standard dummy text 
                        ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. It has survived not 
                        only five centuries, but also the leap into electronic typesetting,
                         remaining essentially unchanged. It was popularised in the 1960s 
                         with the release of Letraset sheets containing Lorem Ipsum passages
                          and more recently with desktop publishing software like Aldus 
                          PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </main>
    </div>
               
    
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>